*
!.gitignore

!sway
!sway/**

!waybar
!waybar/**

!nvim
!nvim/**

!alacritty
!alacritty/**

!fastfetch
!fastfetch/**

!tmux
!tmux/**

!hypr
!hypr/**

!swappy
!swappy/**

!dunst
!dunst/**

!fish
!fish/**

!gammastep
!gammastep/**
