
* {
	font-family: TerminessNerdFontMono;
	font-size: 20px;
}

window#waybar {
	background-color: rgba(53, 52, 93, 0.8);
	border: 3px solid #35345d;
	border-radius: 5px;
	color: #eac2d8;
}
/*window#waybar.background {*/
/*	opacity: 0.8;*/
/*}*/


#workspaces button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	padding: 0 5px;
	color: #eac2d8;
}

#workspaces button.focused {
	background-color: #eac2d8;
	color: #35345d;
}

#workspaces button.hover {
	background-color: #35345d;
}

/*#workspaces {*/
/*	margin-right: 10px;*/
/*}*/
