* {
	border: none;
	border-radius: 0;
	font-family: ProFontWindowsNerdFont;
	font-size: 17px;
	min-height: 0;
}

window#waybar {
	background: transparent;
	/* border-bottom: 3px solid rgb ( 30, 30, 30 ); */
	color: white;
	padding: 10px;
}

#workspaces button {
	color: grey;
}

#workspaces button.focused {
	color: white;
}

#modules-right {
	margin: 10px;
}

#taskbar button {
	color: white;
}
